.box {
    height: 472px;
    position: relative;
    width: 672px;
  }
  
  .box .main-content {
    height: 472px;
    left: 0;
    position: fixed;
    top: 0;
    width: 674px;
  }
  
  .box .seoul-solo-service {
    -webkit-text-stroke: 2px #000000;
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 70px;
    font-weight: 400;
    height: 472px;
    left: -2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -2px;
    width: 672px;
  }
  
  .box .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .box .span {
    font-size: 30px;
  }
  
  .carousel.carousel-main {
    height: 100vh; /* 화면 전체 높이로 설정*/
    width: 100%; /*화면 전체 너비로 설정 */
    overflow: hidden; /*넘치는 부분은 숨김 처리*/
  }

  .carousel-item.carousel-main {
    /* height: 100%; 화면 전체 높이로 설정 */
    /* width: 100%; 화면 전체 너비로 설정 */
    /* display: flex; 내부 요소를 가로로 정렬하기 위해 필요 */
    align-items: center; /* 내부 요소를 수직 가운데 정렬하기 위해 필요 */
    justify-content: center; /* 내부 요소를 수평 가운데 정렬하기 위해 필요 */
  }

  .carousel-item.carousel-main img {
    object-fit: cover; /*이미지가 비율을 유지하며 화면 전체를 채우도록 설정*/
    height: 100%; /*이미지를 화면 전체 높이로 설정*/
    width: 100%; /*이미지를 화면 전체 너비로 설정*/
  }